language: python
cache: pip

python:
    - "2.7"
    - "3.3"
    - "3.4"
    - "3.5"

install:
    - git fetch --unshallow  # to get tags for version.py
    - pip install -r requirements.txt -r requirements-dev.txt

script:
    - py.test -v --cov
    - pylint --ignore=gui,guing marche
    - cd doc; make html SPHINXOPTS=-W
