[Unit]
Description=Marche server control daemon
Requires=network-online.target
After=network-online.target

[Service]
Type=notify
ExecStart=/usr/bin/marched -D
Restart=on-abnormal
RestartSec=30

[Install]
WantedBy=multi-user.target

