Source: marche
Section: misc
Priority: extra
Maintainer: Alexander Lenz <alexander.lenz@frm2.tum.de>
Build-Depends: debhelper (>= 9.0.0),
 dh-systemd,
 lsb-release,
 git,
 python (>= 2.7),
 python-six,
 python-mlzlog,
 python-setuptools
Standards-Version: 3.9.3

Package: marche-common
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 python (>= 2.7),
 python-psutil (>= 0.4),
 python-six
Description: Common files for Marche daemon and GUI.

Package: marche-gui
Architecture: all
Depends: marche,
 python-pyqt5 | python-qt4,
 python-ipaddress | python-ipaddr,
 python-netifaces
Description: Graphical client for Marche daemons.

Package: marche-defaultconfig
Architecture: all
Depends: marched
Description: Default config files for Marche.

Package: marched
Architecture: all
Depends: marche-common,
 python-mlzlog
Description: Marche is a server control daemon with multiple interfaces.

Package: marche
Architecture: all
Depends: marched,
 marche-gui,
 marche-defaultconfig
Description: Metapackage that installs all Marche pacakges.
