#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

override_dh_auto_install:
	dh_auto_install
	install -m 644 -D etc/marche.pam debian/marched/etc/pam.d/marche

# needed for bookworm compatibility!
override_dh_installsystemd:
	ln -s usr/lib debian/marched/lib
	dh_installsystemd
	rm debian/marched/lib

%:
	dh $@ --with python3 --buildsystem=pybuild
