#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

export PYBUILD_NAME=marche
# export PYBUILD_TEST_PYTEST=1

override_dh_install:
	# move build tree to location dh expects
	touch debian/tmp
	rm -rf debian/tmp
	mv debian/python3-marche debian/tmp

	dh_install
	# List files that are installed by the upstream build system
	# but not part of the debian package.
	dh_missing --list-missing

%:
	dh $@ --with python3 --buildsystem=pybuild
