#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEBPYTHON_DEFAULT=2.7
DEBPYTHON_SUPPORTED=2.7

export DEBPYTHON_DEFAULT DEBPYTHON_SUPPORTED

override_dh_installinit:
	if [ "$$(lsb_release -s -c)" = "wheezy" ] ; then \
		dh_installinit --onlyscripts --name=marched --no-start; \
	fi

override_dh_install:
	# List files that are installed by the upstream build system
	# but not part of the debian package.
	dh_install --list-missing
	if [ "$$(lsb_release -s -c)" != "wheezy" ] ; then \
		rm debian/marche/etc/init.d/marched; \
	fi

override_dh_systemd_enable:
	dh_systemd_enable marched.service

override_dh_systemd_start:
	dh_systemd_start --no-start marched.service


%:
	if [ "$$(lsb_release -s -c)" = "wheezy" ] ; then \
		dh $@ --with python2 --buildsystem=python_distutils; \
	else \
		dh $@ --with python2 --buildsystem=python_distutils --with systemd; \
	fi
