{% extends "base.html" %}
{% block content %}
<div class="mdl-cell mdl-cell--12-col mdl-grid" align="center">
    <div class="mdl-card-wide mdl-card mdl-shadow--8dp">
        <div class="mdl-card__title mdl-card--wide">
            <h2 class="mdl-card__title-text">Login</h2>
        </div>
        <section id="loginform">
        <form name="login" action="login" method="get" accept-charset="utf-8">
            <div class="mdl-card__supporting-text">
                <div class="mdl-textfield mdl-js-textfield // mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" name="user" type="text" autofocus>
                    <label class="mdl-textfield__label" for="user">User</label>
                </div>
                <p></p>
                <div class="mdl-textfield mdl-js-textfield // mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" name="passwd" type="password">
                    <label class="mdl-textfield__label" for="password">Password</label>
                </div>
                <p></p>
            </div>
            <p></p>
            <div class="mdl-card__actions mdl-card--border">
                <a href="index">
                    <button type="submit" id="loginBtn"
                            class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised
                                  mdl-button--colored // mdl-button--accent">
                        Login
                    </button>
                </a>
            </div>
        </form>
        </section>
    </div>
</div>
{% endblock %}
